$grey-background-color: #474747;
$presentation-bx-shadow-color: rgba(239, 4, 4, 0.5);
$body-bck-color: #1b1b1b;
$red-background-color: #9e5858;
$red-border-color: #b81313;
$item-border-color: #e42323;
$a-txt-color:#d82222;
$title-neon: rgba(239, 4, 4, 0.3);
$cart-color: rgba(239, 4, 4, .7);