@font-face {
    font-family: "Empire";
    src: url(../font/aAbsoluteEmpire.ttf);
}

:root{
    font-size: 16px;
    color: white;
    font-family: "Empire";
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}