@media screen and (max-width: 500px){
    .pc-games, .ps-games, .xbox-games{
        width: 250px;
    }
    .navigator{
        height: 100%;
    }
    .pc-container, .ps-container, .xbox-container{
        flex-direction: column-reverse;
        height: 450px;
        align-items: center;
        gap: 15px;
    }
    .ps-container{
        .forward{
            left: 90%;
        }
        .back{
            left: 10%;
        }
    }
    .forward{
        left: 90%;
    }
    .back{
        left: 10%;
    }
    body{
        grid-template-columns: 15.4% 71.2% 15.4%; 
        grid-template-rows: 3.6% 20.5% 7.5% 10.5% auto 16.5%;
        grid-template-areas: 
      "nav nav nav"
      ". pres-title ."
      ". presentation ."
      "title title title"
      "products products products"
      "footer footer footer"
      "footer footer footer";
    }
    .list-title{
        flex-direction: column;
        margin: 30px;
    }
    .title{
        font-size: 3rem;
    }
    .pres-title{
        font-size: 2.6rem;
        word-break: break-word;
    }
    .footer{
        font-size: .75rem;
    }
}

@media screen and (min-width: 500px){
    body{
        grid-template-columns: 15.4% 71.2% 15.4%; 
        grid-template-rows: 3.6% 20.5% 7.5% 10.5% auto 16.5%;
        grid-template-areas: 
      "nav nav nav"
      ". pres-title ."
      ". presentation ."
      "title title title"
      "products products products"
      "footer footer footer"
      "footer footer footer";
    }
    .pc-games, .ps-games, .xbox-games{
        width: 250px;
    }
    .navigator{
        height: 100%;
    }
    .pc-container, .ps-container, .xbox-container{
        flex-direction: column-reverse;
        height: 450px;
        align-items: center;
        gap: 15px;
    }
    .ps-container{
        .forward{
            left: 90%;
        }
        .back{
            left: 10%;
        }
    }
    .forward{
        left: 90%;
    }
    .back{
        left: 10%;
    }
    .list-title{
        flex-direction: row;
        margin: 30px;
    }
    .title{
        font-size: 4rem;
    }
    .pres-title{
        font-size: 3.5rem;
    }
}

@media only screen and (min-width: 768px){
    body{
        grid-template-columns: 19.4% 61.2% 19.4%; 
        grid-template-rows: 3.6% 20.5% 6.5% 10.5% auto 16.5%;
        grid-template-areas: 
      "nav nav nav"
      ". pres-title ."
      ". presentation ."
      "title title title"
      "products products products"
      "footer footer footer"
      "footer footer footer";
    }
    .list-title{
        flex-direction: row;
        margin: 30px;
    }
    .pc-container, .ps-container, .xbox-container{
        flex-direction: column-reverse;
        height: 450px;
        align-items: center;
        gap: 15px;
    }
    .pc-games, .ps-games, .xbox-games{
        width: 500px;
        min-width: 500px;
    }
}

@media only screen and (min-width: 1000px){
    .pc-container, .ps-container, .xbox-container{
        flex-direction: row;
        height: 300px;
    }

    .ps-container{
        flex-direction: row-reverse;
    }

    .pc-games, .ps-games, .xbox-games{
        width: 77%;
        max-width: 750px;
    }
}

@media only screen and (min-width: 1200px){
    .pc-container, .ps-container, .xbox-container{
        flex-direction: row;
        height: 300px;
    }

    .forward{
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-50%, -50%);
    }

    .back{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
    }

    .title{
        font-size: 5rem;
    }

    .pres-title{
        font-size: 7.5rem
    }

    .ps-container{
        flex-direction: row-reverse;
        .back{
            position: absolute;
            top: 50%;
            left: 5%;
            transform: translate(-50%, -50%);
        }
        .forward{
            position: absolute;
            top: 50%;
            left: 95%;
            transform: translate(-50%, -50%);
        }
    }

    .pc-games, .ps-games, .xbox-games{
        width: 750px;
        min-width: none;
    }
    body{
        grid-template-columns: 19.4% 61.2% 19.4%; 
    grid-template-rows: 3.6% 30.5% 6.5% 6.5% auto 16.5%;
    gap: 15px 0px;
    grid-template-areas: 
      "nav nav nav"
      ". pres-title ."
      ". presentation ."
      ". . ."
      "products products title"
      "footer footer footer"
      "footer footer footer";
    }
    .list-title{
        flex-direction: column;
        margin: 0;
    }
    .navigator{
        height: 50px;
    }
}